AIRFLOW_UID=50000
_PIP_ADDITIONAL_REQUIREMENTS="torch transformers accelerate typing_extensions>=4.12.2 --extra-index-url https://download.pytorch.org/whl/cpu"
TELEGRAM_TOKEN="your_telegram_bot_token_here"
TELEGRAM_CHAT_ID="your_telegram_chat_id_here"
